.color-layer {
  display: flex;
  background-color: #FFFFFF1A;
  padding: 8px;
  border-radius: 12px;
  margin: 4px 0;
  align-items: center;
  transition: background-color .2s, transform .2s ease-out;
  cursor: pointer;
}

.color-layer span {
  flex: 1;
  margin-left: 8px;
}

.color-layer:hover {
  background-color: #FFFFFF26;
  transform: scale(1.025);
}

.color-layer:active {
  background-color: #FFFFFF1A;
  transform: scale(.95);
}

.color-layer-preview {
  background-color: white;
  border-radius: 5px;
  height: 36px;
  width: 36px;
}
.color-layer-preview div {
  flex: 1;
}

.color-picker-container {
  position: absolute;
  z-index: 2;
}

.layer-remove-button {
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  transition: background-color .15s;
}

.layer-remove-button:hover {
  background-color: #FFFFFF26;
}

.layer-wrapper {
  position: relative;
}

.floating-picker {
  position:absolute;
  bottom:auto;
  left: 0;
  transform: translate(calc(-100% - 12px), -100%);
}